.SideBar
  .user-name
    .user-box
      .user-box__nickname
        = current_user.name
      .user-box__icon
        = link_to "#", class: "user-box__icon__btn" do
          = icon 'fas', 'edit'
          
        = link_to edit_user_path(current_user), method: :get, class: "user-box__icon__btn" do
          = icon('fas', 'cog')

  .group-list
    .group-box
      .group-name
        英会話
      .new-message
        hello
